<p>Chào mừng bạn đến với ứng dụng. Để xác nhận tài khoản, hãy nhấp vào: </p>
<a style="color: red;" href="{{url}}">Tại đây</a>
<p></p>
<p>Đường dẫn này có giá trị trong 5 phút. Lưu ý: Không chia sẻ mã này với bất kỳ ai.</p>